.nav__admin{
    .nav__wrap{
        .nav{
            position: fixed;
            top: 0;
            left: 0;
            bottom: 0;
            height: 100%;
            width: 260px;
            background-image: linear-gradient(to right,black,#eee);
            box-shadow: 0 16px 38px -12px rgba(0,0,0,.56), 0 4px 25px 0 rgba(0,0,0,.12), 0 8px 10px -5px rgba(0,0,0,.2);
            .nav-link{
                color:#d5d5d5;
                padding:25px;
                &.active{
                    background-color:#506070!important;
                }
            }  
        }
    }
}

